<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">User: {{ $ctrl.user.first_name }} {{ $ctrl.user.last_name }}</h1>
    </div>
    <div class="col-lg-8">
      <user data="{{ $ctrl.user }}"></user>
    </div>
  </div>
</div>
